* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Flex & co  */

.display-flex {
  display: flex;
}

.j-content-spaceb {
  justify-content: space-between;
}

.a-items-center {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.v-align-middle {
  vertical-align: middle;
  line-height: 60px;
  text-align: center;
}

.gap-10 {
  gap: 15px;
}

.col-33 {
  width: calc(100% / 3 - 10px);
}

/* Spaces  */

.py-5 {
  padding: 5px 0px;
}

.mright-10 {
  margin-right: 10px;
}

.padding3-5 {
  padding: 3px 5px;
}

/* Tags  */

main {}

header {
  background-color: orangered;
  width: 100%;
  position: fixed;
  z-index: 1;
}

footer {
  background-color: black;
  padding: 40px 0px;
}

a {
  text-decoration: none;
}

#item-shop {
  padding: 130px 0px 50px 0px;
}

.others li {
  list-style-type: none;
  font-weight: bold;
}

/* Classes  */

.white-text {
  color: white;
}

.card {
  position: relative;
}

.brand {
  text-transform: capitalize;
}

.item-type {
  text-transform: uppercase;
  font-weight: bold;
}

.sale-price {
  color: red;
  margin-right: 5px;
}

.price {
  text-decoration: line-through;
}

.heart {
  background-color: white;
  padding: 15px;
  position: absolute;
  top: 10px;
  right: 0px;
}

.item-info {
  position: absolute;
  top: 500px;
}

.sale-value {
  background-color: red;
  margin-right: 3px;
}

.green-value {
  background-color: lightgreen;
}

.legal-info {
  margin-top: 15px;
}

/* Selectors  */

.logo img {
  height: 30px;
  vertical-align: middle;
}

.card img {
  width: 100%;
}

.legal-info span {
  margin-right: 10px;
}

.socials i {
  display: inline-block;
  margin: 15px 8px 0px 0px;
}

/* hover  */

.front-image1,
.front-image2,
.front-image3,
.front-image4,
.front-image5,
.front-image6 {
  display: block;
}

.back-image1,
.back-image2,
.back-image3,
.back-image4,
.back-image5,
.back-image6 {
  display: none;
}

.card:hover .front-image1,
.card:hover .front-image2,
.card:hover .front-image3,
.card:hover .front-image4,
.card:hover .front-image5,
.card:hover .front-image6 {
  display: none;
}

.card:hover .back-image1,
.card:hover .back-image2,
.card:hover .back-image3,
.card:hover .back-image4,
.card:hover .back-image5,
.card:hover .back-image6 {
  display: block;
}