* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Flex & co  */

.display-flex {
  display: flex;
}

.j-content-spaceb {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.v-align-middle {
  vertical-align: middle;
  line-height: 60px;
  text-align: center;
}

.gap-10 {
  gap: 10px;
}

.col-33 {
  width: calc(100% / 3 - 10px);
}

/* Spaces  */

.py-50 {
  padding: 50px 0px;
}

.py-15 {
  padding: 15px 0px;
}

.mright-10 {
  margin-right: 10px;
}

/* Tags  */

header {
  background-color: orangered;
}

a {
  text-decoration: none;
}

.others li {
  list-style-type: none;
  font-weight: bold;
}

/* Classes  */

.white-text {
  color: white;
}

.card {}

.item-type {
  text-transform: uppercase;
  font-weight: bold;
}

.sale-price {
  color: red;
  margin-right: 5px;
}

.price {
  text-decoration: line-through;
}

/* Selectors  */

.logo img {
  height: 30px;
  vertical-align: middle;
}

#item-shop {
  background-color: bisque;
}

.card img {
  width: 100%;
}