* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Flex & co  */

.display-flex {
  display: flex;
}

.j-content-spaceb {
  justify-content: space-between;
}

.v-align-middle {
  vertical-align: middle;
  line-height: 60px;
  text-align: center;
}

/* Spaces  */

.py-15 {
  padding: 15px 0px;
}

.mright-10 {
  margin-right: 10px;
}

/* Tags  */

header {
  background-color: orangered;
}

a {
  text-decoration: none;
}

.others li {
  list-style-type: none;
  font-weight: bold;
}

/* Classes  */

.white-text {
  color: white;
}



/* Selectors  */

.logo img {
  height: 30px;
  vertical-align: middle;
}